body{
    background: white;
}
main{
  flex-wrap: wrap;
  display: flex;
}

#tituloBuscador{
    color: rgb(0, 0, 0);
    font-size: 30px;
    width: 100%;
    height: auto;
    display: flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-bottom: 30px;
}

.Buscador{
    background: white;
    color: rgb(0, 0, 0);
    font-size: 13px;
    width: 97%;
    display: flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    padding: 20px;
    border-radius: 70px 70px 70px 70px;
    border: 1px solid black;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 55px;
    
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    justify-content: center;
    
}

#buscarBtn{
    background-color: #3399ff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 70px 70px 70px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: auto;
    padding: 10px;
    border: 1px solid rgb(158, 155, 155);
}

#origen {
    width: 100%;
    padding: 8px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 70px 70px 70px 70px;
    background-color: white;
    margin-top: 5px;
}

#destino {
    width: 100%;
    padding: 8px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 70px 70px 70px 70px;
    background-color: white;
    margin-top: 5px;
}

#fecha {
    width: 100%;
    padding: 8px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 70px 70px 70px 70px;
    background-color: white;
    margin-top: 5px;
}

.separador {
    width: 1px;
    background-color: #c2bebe;
    margin: 0 20px;
    height: auto;
    align-self: stretch;
}

.imagenbackground {
    background-image: url("../img/colombia-4932092_1280.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px 20px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.45); /* capa blanca semitransparente */
    background-blend-mode: lighten;
}

.campo-boton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#tituloResultados{
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 100%;
    height: auto;
    display: flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    margin-left: 20px;
}

#subtituloResultados{
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 100%;
    height: auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 20px
}

  
.resultado-header,
.resultado-vuelo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  text-align: center;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  
}

.resultado-vuelo {
  background-color: white;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.4);
  font-family: Arial, Helvetica, sans-serif;

}

.resultado-header {
  font-size: 14px;
  color: #555;
  border-radius: 8px 8px 0 0;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  box-shadow: 0 0 340px rgba(0, 123, 255, 0.4);
  font-family: Arial, Helvetica, sans-serif;

}

#resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 0 80px rgba(0, 123, 255, 0.4);
    font-family: Arial, Helvetica, sans-serif;
}

.imagenesBuscador {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 16px;
  padding: 20px 0;
  width: 100%;
  justify-content: center;
  
}

.imagenesBuscador img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    
}

.tituloImagenes{
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 100%;
    height: auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    justify-content: center;
}

.pie-imagen{
  font-size: 0.9em;
  margin-top: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

