.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    background-color: white;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

.nav-left, .nav-right {
    display: flex;
    gap: 40px;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.logo {
    text-align: center;
  }
  
  .logo-content {
    position: relative;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
  }
  
  .dot {
    width: 7px;
    height: 7px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -20px;
  }

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 20px 5%;
        gap: 15px;
    }

    .nav-left, 
    .nav-right {
        justify-content: center;
    }

    .logo {
        order: -1; /* El logo se va arriba */
        margin-bottom: 10px;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  } 