#sectionUno{
    background-color: #3399ff;
    background-size: cover;
    display: flex;
    flex-wrap: wrap; /*que respete el ancho de sus hijos, no wrap seria que no lo respete*/
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 20px;
   
}

.art{
    width: 16%;
    padding: 20px; /*borde dentro del contenedor*/
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 5px solid black;
    border-radius: 50px 20px 10px 0; /*cada numero uno de los 4 bordes
    /*margin-left: 1px;*/
    background: white;
}

.art img{
    width: 100%;
    height: 190px;
    border-radius: 50%; /*redondear bordes*/
}

#sectionDos{
    background: rgb(234, 230, 231);
    background-size: cover;
    flex-wrap: wrap;
    display: flex;
    padding: 15px;
    margin-top: 10px;
}
#articulo1{
    background-color: aqua;
    width: 49%;
    margin: 10px;
}
#articulo1 img{
    width: 100%;
    background-size: contain;
    justify-content: center;
    

}

#articulo2{
    width: 49%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background: white;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3); /*Sombreado del cuadro para texto es text-shadow*/
}
#articulo2 p{
    width: 100%;
    padding: 5px;
}

.nosotros{
    color: rgb(0, 0, 0);
    font-size: 30px;
    width: 97%;
    height: auto;
    display: flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.description{
    color: rgb(0, 0, 0);
    width: 95%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border: 5px solid #3399ff;
    border-radius: 20px;
    font-size: 18px;
}

.nombres{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}